.App {
  text-align: center;
}
.navlink{
  text-decoration: none;
}
.Form-main{
  background-color: darkkhaki;
  align-items: center;
  text-align: center;
}
.Form-content{
  display: block;
}
.navlinks{
  position: relative;
  /* margin-top: 20px; */
  bottom: 23px;
  height: 65px;
  width: 20%;
  float: left;
  text-decoration: none;
  text-align: center;
  background-color: aqua;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.navlinks:hover{
  background-color: red;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
